.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.dndflow .react-flow__node .node{
    padding: 10px;
    border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
    width: 150px;
    font-size: 12px;
    text-align: center;
    background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
}

.dndflow .react-flow__node-element {
  border-color: #1a192b;
}
.dndflow .react-flow__node-specGroup {
  border-color: #0041d0;
}
.dndflow .react-flow__node-spec {
  border-color: #ff0072;
}
.dndflow .react-flow__node-specOption {
  border-color: #00ff33;
}

.dndflow .dndnode {
  height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.dndflow .dndnode.element {
border-color: #1a192b;
}

.dndflow .dndnode.spec-group {
  border-color: #0041d0;
}

.dndflow .dndnode.spec {
  border-color: #ff0072;
}
.dndflow .dndnode.spec-option {
  border-color: #00ff33;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 300px;
  }
}
